<div class="author">
    <h1 class="author__heading">Hi, I am Raddy.</h1>
    <p class="author__body">Web developer and content creator.</p>
  </div>
  
  <img src="/img/images.jpg"  class="hero-image" width="981" height="528">
  
  <section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
  
    <ul class="article-ul">
        <% data.forEach(post => { %>
          <li>
            <a href="/post/<%= post._id %>">
              <span><%= post.title %></span>
              <% if (post.createdAt) { %>
                <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
              <% } else { %>
                <span class="article-list__date">Date not available</span>
              <% } %>
            </a>
          </li>
        <% }) %>
      </ul>

    <% if (nextPage !== null) { %>
      <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>
   
  
    
  
  
  
  </section>
 